<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%if page_title %}{{ page_title }} - {% endif %} {{site_name }}{% endblock %}</title>
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}" />
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
    {% block site_wrapper %}{% endblock %}

    {% include "marketing/google_analytics.html" %}
</body>
</html>